<h2>Utilisateurs</h2>

<form (ngSubmit)="submit()">
  <input
    type="text"
    name="name"
    placeholder="Nom"
    [(ngModel)]="form.name"
    required
  />

  <input
    type="email"
    name="email"
    placeholder="Email"
    [(ngModel)]="form.email"
    required
  />

  <input
    type="text"
    name="role"
    placeholder="Rôle"
    [(ngModel)]="form.role"
  />

  <button type="submit">Ajouter</button>
</form>

<hr />

<ul>
  <li *ngFor="let user of users">
    {{ user.name }} – {{ user.email }} ({{ user.role }})
    <button (click)="deleteUser(user._id)">❌</button>
  </li>
</ul>
